<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <meta charset="utf-8" />
    <title>Budget App</title>
  </head>
  <body>
    <div >
      <h1>Budgtr All</h1>
      <nav>
        <h5><a href="/budget/new">Add New Entry</a></h5>
      </nav>
      <div class="total <%=balanceColor()%>">Total $<%= total %>.00</div>
      <table class="u-full-width">
        <thead>
          <tr style="font-style: italic;" >
            <td>Date</td>
            <td>Name</td>
            <td>From</td>
            <td>Amount</td>
            <td>Tags</td>
          </tr>
        </thead>
        <tbody>
          <% for (let entry in budget) { %>
            <tr>
              <td><%= budget[entry].date %></td>
              <td><a href="http://localhost:3000/budget/<%= entry %>"><%= budget[entry].name %></a></td>
              <td><%= budget[entry].from %></td>
              <td><%= budget[entry].amount %></td>
              <td><%= budget[entry].tags %></td>
            </tr>
          <% } %>
        </tbody>
        
      </table>
      
    </div>
  </body>
</html>


